<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="email_send" value=""/>
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network defaultCredentials="false" host="" port="" enableSsl="true" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>